body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
}

header {
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.blue-section {
    background-color: #A7CFDA;
}

.blue-section .button {
    color: black;
    background-color: white;

}

.blue-section .button:visited {
    color: black;
    background-color: #ffffff;
}

.blue-section .button:hover,
.button:focus {
    color: black;
    background-color: white;
    text-decoration: none;
}

.blue-section .button:active {
    color: black;
    background-color: white;
}

#headerSigniture {
    height: 80px;
    width: auto;

}

#hero-section span {
    display: block;
    font-size: 60%;
    margin-top: 1em;
}

#hero-section p {
    margin: 0px 15px 0px 15px;
}

main {
    padding-bottom: 30px;
}

.container {
    padding: 0px 30px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav a {
    color: #7E7F83;
}

nav a:visited {
    color: #000000;
}

nav a:hover,
nav a:focus {
    color: #ffffff;
    text-decoration: underline;
}

nav a:active {
    color: #ffffff;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff
}

#hero-section {
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    color: #4a4a4a;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0;
    padding: 0.83em;
}

.centered {
    text-align: center;
}

b {
    font-weight: bold;
}


h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover,
a:focus {
    color: #ffffff;
    text-decoration: underline;
}

a:active {
    color: #ffffff;
}

.button {
    display: inline-block;
    background-color: #A7CFDA;
    color: #4a4a4a;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #4a4a4a;
    transition: 0.2s opacity;
    transition-property: opacity;
}

.button:visited {
    color: #0e1a18;
}

.button:hover,
.button:focus {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    color: #ffffff;
}

footer {
    text-align: center;
}

p {
    margin: 0;
    padding: 16px 0px;
}

.social-icons>img {
    width: 100px;
}

.social-icons:hover,
.social-icons:focus {
    text-decoration: none;
}

#hello-container {
    padding: 50px;
    padding-top: 150px;
    background-image: linear-gradient(to bottom right, #FDDBE4, #A7CFDA);
}

#hello-text-container {
    background-color: white;
    text-align: center;
    padding: 100px 15px 50px 15px;
    position: relative;
}

#profileImage {
    height: 200px;
    top: -120px;
    width: 200px;
    position: absolute;
    margin-left: -100px;
    border-radius: 50%;
    border: 4px solid #ffffff;

}

iframe {
    max-width: 100%;
}

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 20px 13px;
    }

    #headerSigniture {
        margin-top: 0;

    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    body {
        font-size: 18px;

    }
}

@media only screen and (min-width: 1024px) {
    .column {
        float: left;
        width: calc(50% - 20px);
        padding: 0px 10px 0px 10px;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1920px) {}