body {
    background-color: rgb(255, 255, 255);
    font-family: 'Sono', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
    padding: 0 16px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

a:hover {
    color: #2B9D8F;
    text-decoration: underline;
}

/* might remove what below later */
a:visited {
    color: #2B9D8F;
}

a:active {
    color: #2B9D8F;
}

.read-more-button {
    display: inline-block;
    background-color: #2B9D8F;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #09443d;
    transition: 0.2s opacity;
}

.read-more-button:hover {
    color: #2B9D8F;
    text-decoration: underline;
}


.read-more-button:visited {
    color: #0e1a18;
}

.read-more-button:active {
    color: #8ab6b1;
}