body {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-family: 'Sono', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
}

header {
    border-bottom: 3px solid #A7CFDA;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px 9px 5px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px 9px 5px 0px rgba(50, 50, 50, 0.59);
    position: fixed;
    top: 0;
}

main {
    padding-top: 133px;
    padding: 10px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A7CFDA
}

#heroSection {
    background-color: #ffffff;
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

a:hover {
    color: #FDDBE4;
    text-decoration: underline;
}

/* might remove what below later */
a:visited {
    color: #FDDBE4;
}

a:active {
    color: #FDDBE4;
}

.read-more-button {
    display: inline-block;
    background-color: #A7CFDA;
    color: #7E7F83;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #2c3f44;
    transition: 0.2s opacity;
}

.read-more-button:hover {
    color: #2B9D8F;
    text-decoration: underline;
}


.read-more-button:visited {
    color: #0e1a18;
}

.read-more-button:active {
    color: #8ab6b1;
}